@charset "utf-8";
/* CSS Document */

	*{padding:0;margin:0;}
	.navbar{background:#222;height:50px;}
	.navbar a{color:#9d9d9d;}
	.w1140{width:1140px;margin:0 auto;}
	p{text-indent:2em;}
	#carousel-example-generic{margin-top:50px;}